.register_main {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.register_main::before {
  content: "";
  position: absolute;
  background-image: url("background.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  z-index: -1;
}

.register {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  margin: 5px;
  width: 300px;
  border: 1px solid rgba(255, 255, 255, 0.377);
  border-radius: 15px;
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .input_dp {
    display: none;
  }

  .dp {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
  }

  @media only screen and (max-width: 300px) {
    width: 100%;
  }

  h1 {
    text-align: center;
    padding-bottom: 20px;
  }

  input,
  button {
    padding: 15px;
    border-radius: 30px;
  }

  input {
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(245, 245, 245, 0.559);
    color: whitesmoke;
  }

  input::placeholder {
    color: rgba(245, 245, 245, 0.549);
  }

  button {
    cursor: pointer;
    background-color: #6BAF8D;
    margin: 10px;
    min-width: 40%;
    max-height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;

    // for loading icon
    img {
      animation: spin 2s linear infinite;

      @keyframes spin {
        from {
          transform: rotate(0deg);
        }

        to {
          transform: rotate(360deg);
        }
      }
    }
  }

  button:hover {
    background-color: #0fa55a;
  }

  .already_done {
    font-size: 0.8rem;
    text-align: center;
    padding: 10px 0;
    color: rgba(245, 245, 245, 0.663);

    .Link {
      color: skyblue;
    }
  }

  #password {
    border: none;
    padding-right: 5px;
  }

  .password_div {
    display: flex;
    border: 1px solid rgba(245, 245, 245, 0.559);
    border-radius: 30px;
    width: 100%;

    img {
      padding: 10px 10px 10px 0px;
      cursor: pointer;
    }
  }
}